# Git version control should ignore object, binary, and editor swap files.
*.sw*
driver_*
*.o
*.out
# Also platform specific dependency files
*.d
Obj_*
# And plots and data files
*.png
*.pdf
*.txt
*.hist
*.lammps
# And header file containing recent commit data
gitversion.cpp
