# Git version control should ignore object, binary, and editor swap files.
*.sw*
driver_*
*.o
*.out
# Also platform specific dependency files
*.d
Obj_*
# And header file containing recent commit data
gitversion.h
